body {
  margin: 0; }

.stock-title:after {
  content: "";
  border-bottom: 0.5px gray solid;
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 6px; }

.header {
  display: flex;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 100;
  height: 6rem;
  font-size: 1.2rem;
  background-color: #dcc6e0;
  box-shadow: 0 2px 2px 2px lightgray; }
  .header__logo-box {
    display: flex;
    margin-left: 5%; }
  .header-primary {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    overflow: hidden; }
    .header-primary__main {
      text-align: center;
      padding-right: 1.5rem; }
      .header-primary__main-increase {
        color: green; }
      .header-primary__main-decrease {
        display: inline;
        color: red; }
