//colors
$color-black: black;
$color-white: #fff;
$color-secondary: #55c57a;
$color-primary: rgba(216,233,240, 1);

//measurements and margin
$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;
$global-sizing: 1.2rem;

//media queries
$breakpoint-tablet: 375px;
