$color-black: black;
$color-white: white;
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;


body {
  margin: 0 !important; 
}
//header
.stock-title:after {
  content: "";
  border-bottom: 0.5px gray solid;
  display: block;
  margin: 0 auto;
  width: 80%;
  padding-top: 6px;
}

.header {
  display: flex;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  z-index: 100;
  height: 6rem;
  font-size: 1.2rem;
  background-color: rgba(220, 198, 224, 1);
  box-shadow: 0 2px 2px 2px lightgray;

  &__logo-box {
    display: flex;
    margin-left: 5%;
  }

  &-primary {
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    &__main {
      text-align: center;
      padding-right: 1.5rem;

      &-increase {
        color: green;
      }
      &-decrease {
        display: inline;
        color: red;
      }
    }
  }
}


// form
.row {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: $gutter-vertical;

   .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    float: right;
    margin-top: 12rem;
  }

  .col-2-of-3 {
    width: calc(2* ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
  }
}

.object {
  position: fixed;
  height: 100%;
}

.section-form {
  display: flex;
  flex-flow: column;
  padding-bottom: 1.2rem;

  &__main {
    height: 100%;
    text-align: center;
    margin-top: 1.2rem;

    &__firstName{
    margin-top: 1.2rem;
  }

  &__lastName {
    margin-top: 1.2rem;
  }

  &__email {
    margin-top: 1.2rem;
  }
  }

}