@import "./header";
@import "./form";
@import "./article";
@import "./media";
@import "./variables";

body {
  margin: 0 !important; 
}

*,
*::after, 
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

